<!-- templates/admin_edit_plugin.html -->
{% extends 'layout.html' %}

{% block title %}Edit Plugin - {{ plugin.name }}{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Edit Plugin - {{ plugin.name }}</h1>

    <form method="post" action="{{ url_for('admin.edit_plugin', plugin_id=plugin.id) }}" class="max-w-2xl">
        <div class="mb-4">
            <label for="name" class="block text-sm font-semibold text-gray-600">Plugin Name:</label>
            <input type="text" id="name" name="name" value="{{ plugin.name }}" required class="w-full px-4 py-2 border rounded-md">
        </div>

        <div class="mb-4">
            <label for="version" class="block text-sm font-semibold text-gray-600">Version:</label>
            <input type="text" id="version" name="version" value="{{ plugin.version }}" required class="w-full px-4 py-2 border rounded-md">
        </div>

        <div class="mb-4">
            <label for="description" class="block text-sm font-semibold text-gray-600">Description:</label>
            <textarea id="description" name="description" class="w-full px-4 py-2 border rounded-md">{{ plugin.description }}</textarea>
        </div>

        <div class="mb-4">
            <label for="script" class="block text-sm font-semibold text-gray-600">Script:</label>
            <textarea id="script" name="script" required class="w-full px-4 py-2 border rounded-md resize-none h-40">{{ plugin.script }}</textarea>
        </div>

        <!-- Include CodeMirror -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/python/python.min.js"></script>

        <!-- Initialize CodeMirror -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var editor = CodeMirror.fromTextArea(document.getElementById('script'), {
                    lineNumbers: true,
                    mode: 'python', // Set the desired language mode
                    theme: 'default', // You can change the theme if needed
                });
            });
        </script>

        <!-- Dynamic commands input -->
        <div class="mb-4">
            <label class="block text-sm font-semibold text-gray-600">Commands:</label>
            <div id="commands-container">
                {% for command in plugin.commands %}
                    <div class="mb-2">
                        <input type="text" name="commands[{{command.id}}]" placeholder="Command Name" value="{{ command.name }}" class="w-1/4 px-4 py-2 border rounded-md">
                        <input type="text" name="descriptions[{{command.id}}]" placeholder="Description" value="{{ command.description }}" class="w-1/4 px-4 py-2 border rounded-md">
                        <input type="text" name="functions[{{command.id}}]" placeholder="Function" value="{{ command.function }}" class="w-1/4 px-4 py-2 border rounded-md">
                        <button type="button" onclick="addArgumentInput(this, '{{ command.id }}')" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">Add Argument</button>
                    </div>
                    <!-- Display existing arguments for the command -->
                    {% for argument in command.arguments %}
                        <div class="flex mb-2">
                            <input type="text" name="arguments_keys[{{command.id}}][{{argument.id}}]" placeholder="Argument Key" value="{{ argument.key }}" class="w-1/4 px-4 py-2 border rounded-md">
                            <select name="arguments_types[{{command.id}}][{{argument.id}}]" class="w-1/4 px-4 py-2 border rounded-md ml-2">
                                <option value="string" {% if argument.key_type == 'string' %}selected{% endif %}>String</option>
                                <option value="number" {% if argument.key_type == 'number' %}selected{% endif %}>Number</option>
                            </select>
                            <button type="button" onclick="removeArgumentInput(this)" class="bg-red-500 text-white px-4 py-2 rounded-md ml-2">Remove</button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <!-- New commands input -->
        <div class="mb-4">
            <label class="block text-sm font-semibold text-gray-600">New Commands:</label>
            <div>
                <button type="button" onclick="addCommandInput()" class="bg-blue-500 text-white px-4 py-2 rounded-md mb-2">Add Command</button>
                <div id="arguments-container"></div>
            </div>
        </div>

        <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-md">Update Plugin</button>
    </form>

    <script>
        var commandIndex = 0;
        function addCommandInput() {
            var container = document.getElementById('commands-container');
            var commandDiv = document.createElement('div');
            commandDiv.classList.add('mb-2');
            commandDiv.innerHTML = `
                <div class="mb-2">
                    <input type="text" name="commands[]" placeholder="Command Name" class="w-1/4 px-4 py-2 border rounded-md">
                    <input type="text" name="descriptions[]" placeholder="Description" class="w-1/4 px-4 py-2 border rounded-md">
                    <input type="text" name="functions[]" placeholder="Function" class="w-1/4 px-4 py-2 border rounded-md">
                    <button type="button" onclick="addArgumentInput(this, ` + commandIndex + `)" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">Add Argument</button>
                </div>
            `;
            container.appendChild(commandDiv);
        }

        function addArgumentInput(button, commandIndex) {
            var commandDiv = button.closest('div');
            var argumentDiv = document.createElement('div');
            argumentDiv.classList.add('mb-2');
            argumentDiv.innerHTML = `
                <div class="flex mb-2">
                    <input type="text" name="arguments_keys[` + commandIndex + `][]" placeholder="Argument Key" class="w-1/4 px-4 py-2 border rounded-md">
                    <select name="arguments_types[` + commandIndex + `][]" class="w-1/4 px-4 py-2 border rounded-md ml-2">
                        <option value="string">String</option>
                        <option value="number">Number</option>
                    </select>
                    <button type="button" onclick="removeArgumentInput(this)" class="bg-red-500 text-white px-4 py-2 rounded-md ml-2">Remove</button>
                </div>
            `;
            commandDiv.appendChild(argumentDiv);
        }

        function removeArgumentInput(button) {
            var argumentDiv = button.closest('div');
            argumentDiv.remove();
        }
    </script>

{% endblock %}
